<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Utbetalningar för undervisning på individuella kurser</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<h1 th:text="'Lärare engagerade i individuella kurser, krediteringsunderlag ' + ${#dates.format(bdoc.creationDate,'yyyy-MM-dd')} + ', ' + ${#dates.format(serverTime,'yyyy-MM-dd')}" />
		<div>
<!-- 		<h2 th:text="${dept}" /> -->
		<table id = "course_instances">
			<tr>
				<th>Kurs</th>
				<th>Student</th>
				<th>Kursstart</th>
				<th>Lärare</th>
				<th>Roll</th>
				<th>Avdelning</th>
				<th>Belopp</th>
			</tr>
			<th:block th:each="reg: ${bdoc.registrations}" >
				<tr th:each="teach: ${reg.teachers}" >
<!-- 
					<th:block th:with="newDept = ${itemStat.first} or ${reg.course} != ${examiners[__${itemStat.index}-1__].staff.fullDepartment}">
						<th:block th:with="newExaminer = ${itemStat.first} or ${ex.examiner.examiner} != ${examiners[__${itemStat.index}-1__].examiner.examiner}">
 							<td th:text="${newDept} ? ${ex.staff.fullDepartment} : ''" />
							<td th:text="${newExaminer} ? ${ex.staff.name} : ''" />
							<td th:text="${ex.examiner.course.designation}" />
-->

							<td th:text="${reg.courseBag.designation} + ', ' + ${reg.courseBag.course.credits} + ' hp'" />
							<td th:text="${reg.studentName}" />
							<td th:text="${#dates.format(reg.startDate,'yyyy-MM-dd')}" />
							<td th:text="${teach.name}" />
							<td th:text="${teach.teacherType}" />
							<td th:text="${teach.fullDepartment}" />

							<td th:text="${#numbers.formatInteger(teach.computeCreditFunds(),1)}+ ' kr'" />

<!-- 	
						</th:block>
					</th:block>
 -->
<!-- 					<th:block th:with="newCourse = ${itemStat.first} or ${ex.course.code} != ${examiners.get(brd)[__${itemStat.index}-1__].course.code}"> -->
<!-- 
						<th:block th:object = "${staffMap.get(ex.examiner)}">
							<td th:text="|*{name}, *{title}, *{fullDepartment}|" />
						</th:block>
 -->
<!-- 					</th:block> 
 -->
				</tr>

 			</th:block>
		</table>

	<p>
		Current time is <span th:text="${serverTime}" />
	</p>
</body>
</html>

