<html lang="se-SE">
	<head>
		<title th:text="#{display.luntan.ciupdateresult.title}">Uppdatering av antal registrerade studenter</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link th:href="@{/styles/main.css}" rel="stylesheet" />
	</head>
	<body>
		<div id="container">
			<div id="content">
				<div>
					<h1 th:text="#{display.luntan.ciupdateresult.header} + ', ' + ${year}" />
<!-- 
					<h1 th:text="${year}" />
 -->
				</div>
		<div>
			<h2 th:text="'Per kurstillfälle'" />
			<table id = "course_instances_update">
				<tr>
					<th>Kurskod</th>
					<th>Benämning</th>
					<th>Kurstillfälleskod</th>
					<th>Antal registrerade</th>
					<th>Befintliga registrerade</th>
					<th>Status</th>
				</tr>
				<tr th:each="ci: ${cis}">
					<td class='alnleft' th:text="${ci.courseCode}" />
					<td class='alnleft' th:text="${ci.designation}" />
					<td class='alnleft' th:text="${ci.instanceCode}" />
					<td class='alnleft' th:text="${ci.registered}" />
					<td class='alnleft' th:text="${ci.previousValue}" />
					<td class='alnleft' th:text="${ci.status}" />
				</tr>
			</table>
		</div>
				<div class="footer">
					<p th:text="'Luntan ' + #{build.release.minor}+ ', build ' + #{build.timestamp}" />
				</div>
			</div>
		</div>
	</body>
</html>
