<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Kursekonomidokument, tillägg</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<h1 th:text="'Tillägg till Kursekonomidokument budgetåret ' + ${edoc.year} + ' – ' + (${#dates.format(serverTime,'yyyy-MM-dd')})" />

	<div th:unless="${courseInstances.size() == 0}">
		<div th:each="cgrp: ${usedGroups}">
			<h2 th:text="${cgrp}" />
			<table id = "course_instances">
				<tr>
					<th>Kurs</th>
					<th>hp</th>
					<th>Stud.</th>
					<th>Reg.</th>
					<th>åp</th>
					<th>Modell</th>
					<th>Ny</th>
					<th>Anslag</th>
					<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
						<th th:text="${dept}" />
					</th:block>
					<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
						<th th:text="${dept}" />
					</th:block>
				</tr>
				<tr th:each="ci: ${courseInstances.get(cgrp)}">
					<td th:text="${ci.designation}" />
					<td class='alnright' th:text="${ci.course.credits}" />
					<td class='alnright' th:text="${ci.modelStudentNumber}" />
					<td class='alnright' th:text="${ci.registeredStudents}" />
					<td class='alnright' th:text="${#numbers.formatDecimal(ci.course.credits*ci.modelStudentNumber/60,1,1)}" />
					<td class='alnright' th:text="${ci.fundingModel.id}" />
					<td class='alnright' th:text="${ci.firstInstance} ? 'X' : ''" />
					<td th:text="${#numbers.formatInteger(ci.computeCIGrant()/1000,1)}+ ' kkr'" />
					<th:block th:with="gd=${ci.computeGrants()},gp=${ci.explicitGrantDist()}">
						<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
							<td class='alnright' th:text="${#numbers.formatInteger(gp.get(dept)*100,1)}+ ' %'" />
						</th:block>
						<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
							<td class='alnright' th:text="${#numbers.formatInteger(gd.get(dept)/1000,1)}+ ' kkr'" />
						</th:block>
					</th:block>
				</tr>
			</table>
		</div>
		<h2 th:text="'Helårsstudenter över kursgrupper'" />
		<table  id = "course_instance_summary" th:with="bigSum=${edoc.hstByCourseGroupSupplement()}">
			<tr>
				<th />
				<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
					<th th:text="${dept}" />
				</th:block>
			</tr>
			<tr th:each="cat: ${usedGroups}">
				<td th:text="${cat.toString()}" />
				<th:block th:with="dsum=${bigSum.get(cat)}">
					<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
						<td class='alnright' th:text="${#numbers.formatDecimal(dsum.get(dept),1,1)}" />
					</th:block>
				</th:block>
			</tr>
		</table>


		<h2 th:text="'Summerat över kursgrupper'" />
		<table  id = "course_instance_summary" th:with="bigSum=${edoc.sumByCourseGroupSupplement()}">
			<tr>
				<th />
				<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
					<th th:text="${dept}" />
				</th:block>
					<th th:text="Totalt" />
			</tr>
			<tr th:each="cat: ${usedGroups}">
				<td th:text="${cat.toString()}" />
				<th:block th:with="dsum=${bigSum.get(cat)}">
					<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
						<td class='alnright' th:text="${#numbers.formatInteger(dsum.get(dept)/1000,1)}+ ' kkr'" />
					</th:block>
				</th:block>
				<th:block th:with="csum=${sums.colSum(bigSum)}">
					<td class='alnright' th:text="${#numbers.formatInteger(csum.get(cat)/1000,1)}+ ' kkr'" />
				</th:block>
			</tr>
			<tr th:with="rsum= ${sums.rowSum(bigSum)}">
				<td th:text="Totalt" />
				<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
					<td class='alnright' th:text="${#numbers.formatInteger(rsum.get(dept)/1000,1)}+ ' kkr'" />
				</th:block>
				<td class='alnright' th:text="${#numbers.formatInteger(sums.totalSum(rsum)/1000,1)}+ ' kkr'" />
	
			</tr>
		</table>


		<h2 th:text="'Totalsumma'" />
		<table id = "economy_doc_grants">
			<tr>
				<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
					<th th:text="${dept}" />
				</th:block>
				<th th:text="Totalt" />
			</tr>
			<tr>
				<th:block th:with="gd=${edoc.grandTotalSumSupplement()}">
					<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
						<td class='alnright' th:text="${gd.get(dept) != null} ? ${#numbers.formatInteger(gd.get(dept)/1000,1)}+ ' kkr' : ''" />
					</th:block>
					<td class='alnright' th:text="${#numbers.formatInteger(sums.totalSum(gd)/1000,1)}+ ' kkr'" />
				</th:block>
			</tr>
		</table>

		<div>
			<h2 th:text="'Modeller i beräkningarna'" />
			<table id = "models">
				<tr>
					<th>ID</th>
					<th>Benämning</th>
					<th>Formel</th>
					<th>Kommentar</th>
				</tr>
				<tr th:each="model: ${models}">
					<td class='alnleft' th:text="${model.id}" />
					<td class='alnleft' th:text="${model.designation}" />
					<td class='alnleft' th:text="${model.expression}" />
					<td class='alnleft' th:text="${model.note}" />
				</tr>
			</table>
		</div>
	</div>

	<br />
	<br />
	<p>
		Current time is <span th:text="${serverTime}" />
	</p>
</body>
</html>

