<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Kursekonomidokument</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<h1 th:text="'Kursekonomidokument budgetåret ' + ${edoc.year} + ' – ' + (${edoc.locked} ? 'slutlig version, ' + ${#dates.format(edoc.lastModifiedDate,'yyyy-MM-dd')}: 'arbetsdokument, ' +  ${#dates.format(serverTime,'yyyy-MM-dd')})" />

	<div th:each="cgrp: ${usedGroups}">
		<h2 th:text="${cgrp}" />
		<table id = "course_instances">
			<tr>
				<th>Kurs</th>
				<th>hp</th>
				<th>Stud.</th>
				<th>Reg.</th>
				<th>åp</th>
				<th>Modell</th>
				<th>Ny</th>
				<th>Anslag</th>
				<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
					<th th:text="${dept}" />
				</th:block>
				<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
					<th th:text="${dept}" />
				</th:block>
			</tr>
	<!-- 
			<th:block th:each="cgrp: ${usedGroups}">
	 -->
			<tr th:each="ci: ${courseInstances.get(cgrp)}">
	<!-- 
			<tr th:each="ci: ${edoc.courseInstances}">
	 -->
				<td th:text="${ci.designation}" />
				<td class='alnright' th:text="${ci.course.credits}" />
				<td class='alnright' th:text="${ci.modelStudentNumber}" />
				<td class='alnright' th:text="${ci.registeredStudents}" />
				<td class='alnright' th:text="${#numbers.formatDecimal(ci.course.credits*ci.modelStudentNumber/60,1,1)}" />
				<td class='alnright' th:text="${ci.fundingModel.id}" />
				<td class='alnright' th:text="${ci.firstInstance} ? 'X' : ''" />
				<td th:text="${#numbers.formatInteger(ci.computeCIGrant()/1000,1)}+ ' kkr'" />
				<th:block th:with="gd=${ci.computeGrants()},gp=${ci.explicitGrantDist()}">
					<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
						<td class='alnright' th:text="${#numbers.formatInteger(gp.get(dept)*100,1)}+ ' %'" />
					</th:block>
					<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
						<td class='alnright' th:text="${#numbers.formatInteger(gd.get(dept)/1000,1)}+ ' kkr'" />
					</th:block>
				</th:block>
			</tr>
	<!-- 
			</th:block>
	 -->
		</table>
	</div>
	<h2 th:text="'Helårsstudenter över kursgrupper'" />
	<table  id = "course_instance_summary" th:with="bigSum=${edoc.hstByCourseGroup()}">
		<tr>
			<th />
			<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
				<th th:text="${dept}" />
			</th:block>
		</tr>
<!-- 
		<tr th:each="cat: ${bigSum.keySet()}">
 -->
		<tr th:each="cat: ${usedGroups}">
			<td th:text="${cat.toString()}" />
			<th:block th:with="dsum=${bigSum.get(cat)}">
				<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
					<td class='alnright' th:text="${#numbers.formatDecimal(dsum.get(dept),1,1)}" />
				</th:block>
			</th:block>
		</tr>
	</table>


	<h2 th:text="'Summerat över kursgrupper'" />
	<table  id = "course_instance_summary" th:with="bigSum=${edoc.sumByCourseGroup()}">
		<tr>
			<th />
			<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
				<th th:text="${dept}" />
			</th:block>
				<th th:text="Totalt" />
		</tr>
<!-- 
		<tr th:each="cat: ${bigSum.keySet()}">
 -->
		<tr th:each="cat: ${usedGroups}">
			<td th:text="${cat.toString()}" />
			<th:block th:with="dsum=${bigSum.get(cat)}">
				<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
					<td class='alnright' th:text="${#numbers.formatInteger(dsum.get(dept)/1000,1)}+ ' kkr'" />
				</th:block>
			</th:block>
			<th:block th:with="csum=${sums.colSum(bigSum)}">
				<td class='alnright' th:text="${#numbers.formatInteger(csum.get(cat)/1000,1)}+ ' kkr'" />
			</th:block>
		</tr>
		<tr th:with="rsum= ${sums.rowSum(bigSum)}">
			<td th:text="Totalt" />
			<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
				<td class='alnright' th:text="${#numbers.formatInteger(rsum.get(dept)/1000,1)}+ ' kkr'" />
			</th:block>
			<td class='alnright' th:text="${#numbers.formatInteger(sums.totalSum(rsum)/1000,1)}+ ' kkr'" />
	
		</tr>
	</table>

	<h2 th:text="'Övrig tilldelning'" />
	<table id = "economy_doc_grants">
		<tr>
			<th>Post</th>
			<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
				<th th:text="${dept}" />
			</th:block>
			<th>Kommentar</th>
		</tr>
		<tr th:each="edg: ${edoc.economyDocGrants}">
			<td th:text="${edg.itemDesignation}" />
			<th:block th:with="gd=${edg.distributedGrant}">
				<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
<!-- 
					<td class='alnright' th:text="${#numbers.formatInteger(gd.get(dept)/1000,1)}+ ' kkr'" />
 -->
					<td class='alnright' th:text="${gd.get(dept) != null} ? ${#numbers.formatInteger(gd.get(dept)/1000,1)}+ ' kkr' : ''" />
				</th:block>
			</th:block>
			<td th:text="${edg.note}" />
		</tr>
	</table>


	<h2 th:text="'Totalsumma'" />
	<table id = "economy_doc_grants">
		<tr>
			<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
				<th th:text="${dept}" />
			</th:block>
			<th th:text="Totalt" />
		</tr>
		<tr>
			<th:block th:with="gd=${edoc.grandTotalSum()}">
				<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
					<td class='alnright' th:text="${gd.get(dept) != null} ? ${#numbers.formatInteger(gd.get(dept)/1000,1)}+ ' kkr' : ''" />
				</th:block>
				<td class='alnright' th:text="${#numbers.formatInteger(sums.totalSum(gd)/1000,1)}+ ' kkr'" />
			</th:block>
		</tr>
	</table>

<!-- 
	<h2 th:text="'Differens som effekt av skillnad i faktiskt och beräknat antal registreringar'" />
	<table id = "course_instance_adjustment" th:with="bigSum=${edoc.sumAdjustmentsByCourseGroup()}">
		<tr>
			<th />
			<th:block th:each="dept: ${edoc.accountedDeptsSorted}">
				<th th:text="${dept}" />
			</th:block>
		</tr>
		<tr th:each="cat: ${bigSum.keySet()}">
			<td th:text="${cat.toString()}" />
			<th:block th:with="dsum=${bigSum.get(cat)}">
				<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
					<td class='alnright' th:text="${#numbers.formatInteger(dsum.get(dept)/1000,1)}+ ' kkr'" />
				</th:block>
			</th:block>
		</tr>
		<tr th:with="rsum= ${sums.rowSum(bigSum)}">
			<td th:text="Totalt" />
			<th:block th:each= "dept: ${edoc.accountedDeptsSorted}">
				<td class='alnright' th:text="${#numbers.formatInteger(rsum.get(dept)/1000,1)}+ ' kkr'" />
			</th:block>
	
		</tr>
	</table>
 -->


	<div>
		<h2 th:text="'Modeller i beräkningarna'" />
		<table id = "models">
			<tr>
				<th>ID</th>
				<th>Benämning</th>
				<th>Formel</th>
				<th>Kommentar</th>
			</tr>
			<tr th:each="model: ${models}">
				<td class='alnleft' th:text="${model.id}" />
				<td class='alnleft' th:text="${model.designation}" />
				<td class='alnleft' th:text="${model.expression}" />
				<td class='alnleft' th:text="${model.note}" />
			</tr>
	<!-- 
			</th:block>
	 -->
		</table>
	</div>

	<br />
	<br />
	<p>
		Current time is <span th:text="${serverTime}" />
	</p>
</body>
</html>

