<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Kurser per program</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<h1>Kurser listade på program</h1>
	<table id = "courses">
		<tr>
			<th>Kurskod</th>
			<th>Kurs</th>
			<th:block th:each="programme: ${programmes}">
				<th th:text="${programme}" />
			</th:block>
		</tr>

		<tr th:each="course: ${courseList}">
			<td th:text="${course}" />
			<td th:text="${courses.get(course).getCourse().getDesignation()}" />
			<th:block th:each="programme: ${programmes}">
				<td th:text="${courses.get(course).inProg(programme)}" />
			</th:block>
		</tr>
	</table>
	<p>
		Tid för access <span th:text="${serverTime}" />
	</p>
</body>
</html>
