<html lang="se-SE">
	<head>
		<title> Upload a CSV with course instances from LADOK to upadte registered students</title>
		<meta http-equiv="Content-Type" content="text/html; charset:UTF-8" />
	<!-- 
		<link rel="stylesheet" type="text/css" media="screen, print" href="../layout/default-application.css" th:href="@{/layout/default-application.css}"></link>
		<link rel="stylesheet" type="text/css" media="screen, print" href="../layout/default.css" th:href="@{/layout/default.css}"></link>
	 -->
	</head>
	<body>
		<form method="POST" th:action="@{/rest/bulk/requestUpdateRegsFromCSV}" enctype="multipart/form-data" th:object="${formValues}">
			<div>
				<fieldset>
					<legend>CSV-fil från LADOK för att uppdatera Luntan</legend>
					<label for="ignore">Skriv över existerande värden</label>
					<input type="checkbox" th:field="*{ignoreExistingValues}" />
					<input type="hidden" id="year" name="year" th:value="*{year}" />				
					<br />
					<label for="file">Välj CSV fil</label>
					<input th:field="*{ciFile}" type="file" class="form-control-file" accept=".csv" />
				</fieldset>
			</div>
			<button type="submit" class="btn btn-primary">Ladda upp värden</button>
		</form>
	</body>
</html>